<launch>
    <arg name="robot_name" default="msj_platform"/>
    <param name="robot_name" type="string" value="$(arg robot_name)"  />
    <param name="robot_description" textfile="$(find robots)/$(arg robot_name)/model.urdf" />
    <param name="urdf_file_path" type="string" value="$(find robots)/$(arg robot_name)/model.urdf" />
    <param name="cardsflow_xml" type="string" value="$(find robots)/$(arg robot_name)/cardsflow.xml" />
    <rosparam file="$(find robots)/$(arg robot_name)/config/controller.yaml" command="load"/>
    <param name="Kp" type="double" value="100"  />
    <param name="Kd" type="double" value="10"  />
    <rosparam param="q_target">[0.0, 0.0, 0.0]</rosparam>
    <param name="min_force" type="double" value="0"  />
    <param name="max_force" type="double" value="500"  />
    <param name="controller" type="int" value="2"  />
    <!--<node name="controller_manager"-->
          <!--pkg="controller_manager"-->
          <!--type="spawner"-->
          <!--args="sphere_axis0 sphere_axis1 sphere_axis2" />-->
    <node name="controller_manager"
          pkg="controller_manager"
          type="spawner"
          args="hip_joint elbow_left_rot1 elbow_right_rot1 elbow_left_rot0 elbow_right_rot0
          sphere_left_axis0 sphere_left_axis1 sphere_left_axis2 sphere_right_axis0 sphere_right_axis1 sphere_right_axis2
          sphere_head_axis0 sphere_head_axis1 sphere_head_axis2" />

    <node name="robot_controller"
          pkg="kindyn"
          type="$(arg robot_name)"
          respawn="false"
          output="screen"
    />

</launch>
        <!--launch-prefix="gdb -ex run"-->
        <!--launch-prefix="gdb -ex run"-->
        <!-- FOR DEBUGGING USE THIS launch-prefix="xterm -e gdb -se devel/lib/myo_master/multiJoint" FOR VALGRIND USE THIS launch-prefix="valgrind -log-file=/home/roboy/workspace/ros_hierarchy/valgrind.log -leak-check=full"-->

        <!-- args="-c /home/roboy/workspace/roboy-ros-control/src/roboy_powerlink/powerlink/output/mnobd.cdc"-->